* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #24292e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#app {
    background: #2b3137;
    width: 800px;
}
.linkPerfil {
    border: 1px solid black;
    padding: 5px;
}